:root {
  --effects-color: #e44023;
}

body {
  /* background-image: url('/static/Duomo.jpg'); */
  background-color: #000;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

.bg {
  width: 100vw;
  margin: 0;
  padding: 0;
  position: fixed;
  opacity: .4;
}

.nomelogo {
  background-image: url('/static/fotoevideo/nomelogo.png');
  width: 70vw;
  height: 320px;
  background-size: cover;
  background-position: center;
}

.button {
  position: relative;
  display: block;
  color: white;
  font-size: 1.4em;
  text-decoration: none;
  margin: 30px 0;
  border: 2px solid var(--effects-color);
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
  background: none;
  cursor: pointer;
}

.button::before {
  background: var(--effects-color);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;

  width: 100%;
  height: 0%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.button:hover::before {
  height: 380%;
}

select {
  height: 30px;
  border-radius: 5px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.subtitle {
  color: white;
  font-size: 2rem;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  user-select: none;
}

.infobutton {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  bottom: 10px;
  right: 10px;
}

.popup {
  position: absolute;
  cursor: auto;
  z-index: 2;
  width: 400px;
  border-radius: 6px;
  background: #fff;
  top: 0;
  left: 0;
  transform: translate(-100%, -100%);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  opacity: 0;
  transition: all ease-in-out .4s;
  pointer-events: none;
}

.open-popup {
  opacity: 1;
  pointer-events: all;
}

.popup img {
  margin-top: -70px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}



.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #e2221b;
  color: #fff;
  border: 0;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

}