body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: rgba(56, 53, 53, 0.329);
}

.map {
    position: absolute;
    left: 50%;
    top: 34%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 600px;
}
.immagini{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    
}
.immagini1{
    position: absolute;
    left: 50%;
    top: 82%;
    transform: translate(-50%, -50%);
    
}

