body {
  background-image: url('/static/Duomo.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.button {
  font-size: 1.4em;
  text-align: center;
  font-weight: lighter;
  color: rgba(15, 69, 161, 0.6);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(15, 69, 161, 0.6);
  border-radius: 50px;
}

select {
  height: 30px;
  border-radius: 5px;
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.subtitle {
  color: white;
  font-size: 2rem;
}