

body{
   
    background-image: url('/static/Duomo.jpg');
    background-size: cover ;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
}

.button{
  position: absolute;
  left: 50%;
  top: 55%;
  transform: translate(-43%, 160%);
  width: 12%;
  height: 55px;
  font-size: 1.4em;
  text-align: center;
  font-weight: lighter;
  color: rgba(15, 69, 161, 0.6);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgba(15, 69, 161, 0.6);
  border-radius: 50px;
  
}


.nomelogo{
  position: absolute;
  left: 50%;
  right: 50%;
  top: 33%;
  width: -50%;
  height: -50%;

  transform: translate(-50%,-50%);
  
}


.drop{
  position: absolute;
  left: 45%;
  right: 50%;
  top: 60%;
  width: -50px;
  height: -50%;
  stroke-linecap: round;
  stroke-linejoin: round;
  transform: translate(-50%,-50%);
  
  
}

.drop select {
  height: 30px;
  border-radius: 5px;
}


.sottotitolo{
  color: rgb(255, 255, 255);
  left: 45%;
  right: 50%;
  top: 60%;
  

}