<!DOCTYPE html>
<html lang="en">

<head>


  <title>MilanWays</title>
  <link rel="stylesheet" href="static/style.css">

</head>

<body>



  <img src="static/nomelogo.png" alt="NomeImage" class="nomelogo">



  <form action="/selezione" method='GET'>
  <div class="drop">
    <select name="scuoledropdown">
      {% for istituto in istituti%}
      <option value="{{istituto}}" SELECTED>{{istituto}}</option>
      {%endfor%}
    </select>
  </div>
    <input type="submit" value="AVVIA" class='button' />


  </form>

</body>





<script>

  function getLocation() {
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(showPosition, showError);
    } else {
      alert("Geolocation is not supported by this browser.");
    }
  }

  function showPosition(position) {
    console.log(position.coords.latitude, position.coords.longitude);
    console.log(`acc ${position.coords.accuracy}m`);

    options['lat'] = position.coords.latitude;
    options['lng'] = position.coords.longitude;

    getData() //Esegue la funzione per comunicare con Flask
  }

  function showError(error) {
    getData() //Esegue la funzione per comunicare con Flask

    switch (error.code) {
      case error.PERMISSION_DENIED:
        alert("User denied the request for Geolocation.");
        break;
      case error.POSITION_UNAVAILABLE:
        alert("Location information is unavailable.");
        break;
      case error.TIMEOUT:
        alert("The request to get user location timed out.");
        break;
      case error.UNKNOWN_ERROR:
        alert("An unknown error occurred.");
        break;
    }
  }
  $.ajax({
    type: "POST",
    url: '/mappa', //route dove deve andare
    data: {}, //
    success: success, //richiama la funzione se la richiesta ha successo
    dataType: JSON //
  });

</script>

</html>