<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MilanWays - Scelta metro</title>
  <link rel="stylesheet" href="/static/css/metro.css">
</head>

<body>
  <div class="background"></div>
  <form action="/metropunto" method='GET'>
    <label for="fermatedropdown">Selezionare fermata</label>
    <select name="fermatedropdown">
      {% for fermata in fermate%}
      <option value="{{fermata}}" SELECTED>{{fermata}}</option>
      {%endfor%}
    </select>
    <a onclick="this.closest('form').submit();return false;" class='button'>CERCA</a>
  </form>
</body>

</html>