<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sito - Selezione</title>
    <link rel="stylesheet" href="/static/selezione.css">
</head>

<body>

    <div class="content">
        <div class="map">
            {{map|safe}}
        </div>
        <div class="imgs">
            <a href="/campisportivi"><img src='/static/camposportivo.jpg' alt="imgCampo" width="300" height="250"></a>
            <a href="/ristoranti"><img src='/static/ristoranti.jpg' alt="imgRistoranti" width="300" height="250"></a>
            <a href="/tram"><img src='/static/tram.jpg' alt="imgTram" width="300" height="250"></a>
            <a href="/metropolitane"><img src='/static/metropolitana.jpg' alt="imgMetro" width="300" height="250"></a>
        </div>
    </div>
</body>

</html>