<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sito - Selezione</title>
    <link rel="stylesheet" href="/static/selezione.css">
</head>

<body>
    <div class="map">
        {{map|safe}}
    </div>

    <div class="immagini">
   <a href="/fontanelle"><img src='/static/fontanella.jpg' alt="fontanelle" width = "200" height = "200"></a>
   <a href="/stazione_bici"><img src='/static/stazionebici.png' alt="stazione_bici" width = "200" height = "200"></a>
    </div>
    <div class="immagini1">
   <a href="/supermercato"><img src='/static/supermercato.jpeg' alt="supermercato" width = "200" height = "200"></a>
   <a href="/tabaccheria"><img src='/static/tabaccheria.jpg' alt="tabaccheria" width = "200" height = "200"></a>
    </div>
</body>

</html>