<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sito - Selezione</title>
    <link rel="stylesheet" href="/static/selezione.css">
</head>

<body>
    <div class="map">
        {{map|safe}}
    </div>
   <a href="/fontanelle"><img src='/static/fontanella.jpg' alt="fontanelle" width = "300" height = "300"></a>
   <a href="/fontanelle"><img src='/static/fontanella.jpg' alt="fontanelle" width = "300" height = "300"></a>
   <a href="/fontanelle"><img src='/static/fontanella.jpg' alt="fontanelle" width = "300" height = "300"></a>
   <a href="/fontanelle"><img src='/static/fontanella.jpg' alt="fontanelle" width = "300" height = "300"></a>

</body>

</html>